doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='index.css')
  title Combos
.head
  a(href="/")
    h1 Combos
  .links
    a(href="/loan") Pedir prestamo
    a(href="/inventory") Inventario
    if !admin
      a(href="/auth") Autenticar
.main
  .header
    h1.main-title Aplicativos
    if admin
      .user
        h3.username #{user}
        form(action="/auth/signout" method='POST')
          input(type="submit", value="Cerrar sesion")
  .main_form
    form(action='loan' method='GET')
      input(type='submit' value='Hacer prestamos')
    form(action='inventory' method='GET')
      input(type='submit' value='Inventario')
    if !admin
      form(action='auth' method='GET')
        input(type='submit' value='Autenticar')